[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = fefefhhesregy
	email = 133296583+fefefhhesregy@users.noreply.github.com
